
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    
}

header {
    position: fixed;
    width: 100%;
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #0073e6, #00bfff);
    padding: 20px 20px;
    transition: background 0.3s ease;
}



.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: rgb(0, 0, 0);
}


.box1 {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    padding: 20px;
    background: #0073e6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.stopwatch {
    font-size: 48px;
    color: white;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: white;
    color: #0073e6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #005bb5;
    color: white;
}

.lap-times {
    color: white;
}

.lap-times ul {
    list-style-type: none;
}

.lap-times li {
    margin: 5px 0;
}
